<h1>Article Index</h1>

<table>
  <tr>
    <th>#</th>
    <th>title</th>
    <th>content</th>
    <th>created at</th>
    <th>updated at</th>
  </tr>
  <% @articles.each do |article| %>
  <tr>
    <td><%= article.id %></td>
    <td><%= article.title %></td>
    <td><%= article.content %></td>
    <td><%= article.created_at %></td>
    <td><%= article.updated_at %></td>
  </tr>
  <% end %>
</table>
